*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/a0/60/f6/a060f6735e6508ecac599b50e1f8ce0d.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.162);
    background-size: 100% 900px;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(1, 22, 41, 0.804);
    height: 700px;
    width: 450px;
    border-radius: 5px;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
    transform: translateZ(50px);
 }
 img{
    position: absolute;
    height: 90%;
    width: 100%;
    transform: scale(0.9);
    transition: 0.3s ease-in;
    object-fit: cover;
 }
.imgbox{
    width: 100%;
    height: 80%;
}
.banner{
    position: relative;
    top: -10%;
}
.bgtext{
    position: absolute;
    font-size: 4em;
    font-weight: 800;
    -webkit-text-stroke: 2px #fff;
    opacity: 0.4;
    color: transparent;
    z-index: -1;
    text-align: center;
    line-height: 70px;
    color: rgb(0, 0, 0);
 }
 .title{
    position: absolute;
    top: 150px;
    font-size: 1.4em;
    font-weight: 600;
    color: #ffffff;
    word-spacing: 2px;
    transition: 0.3s ease;
    width: 100%;
    text-align: center;
    transform: translateZ(50px);
 }
 .container:hover .title{
    font-size: 1.8em;
    font-weight: 800;
    top: 150px;
 }